<div class="jumbotron">
  <div class="container">
    <strong>{{t "block.miners_list"}}:</strong> <span class="label label-info">{{model.findersTotal}}</span>
  </div>
</div>
<div class="container">
  {{#if model.finders}}
  <h4>{{t "block.finders"}}</h4>
  <small>{{t "block.finders_text"}}</small>
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>{{t "menu.miners"}}</th>
        <th>{{t "block.blocks"}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each model.finders as |f|}}
      <tr>
        <td>{{#link-to 'account' f.address class='hash'}}{{f.address}}{{/link-to}}</td>
        <td>{{format-number f.blocks}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{else}}
  <h3>{{t "block.no_new_blocks_yet"}}</h3>
  {{/if}}
</div>