<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EtherGem Mining Pool</title>
    <meta name="description" content="Official Dev Mining Pool"/>
    <meta name="keywords" content="ethergem, pool, mining, cryptocurrency"/>
    <script src="https://cdn.polyfill.io/v1/polyfill.min.js?features=Intl.~locale.en"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-87DrmpqHRiY8hPLIr7ByqhPIywuSsjuQAfMXAE0sMUpY3BM7nXjf+mLIUSvhDArs" crossorigin="anonymous">
    {{content-for "head"}}
    <link rel="stylesheet" href="{{rootURL}}assets/vendor.css">
    <link rel="stylesheet" href="{{rootURL}}assets/open-ethereum-pool.css">
    {{content-for "head-footer"}}
  </head>
  <body>
    {{content-for "body"}}

    <script src="{{rootURL}}assets/vendor.js"></script>
    <script src="{{rootURL}}assets/open-ethereum-pool.js"></script>

    {{content-for "body-footer"}}

    <footer class="footer">
      <div class="container">
	<p class="text-muted text-center">
	<a href="https://forum.egem.io" target="_blank"><i class="fal fa-chalkboard-teacher"></i> FORUM</a>
	<a href="https://www.reddit.com/r/egem/" target="_blank"><i class="fab fa-reddit-square"></i> REDDIT</a> 
	<a href="https://git.egem.io/team" target="_blank"><i class="fab fa-gitlab"></i></i> GITLAB</a> 
	<a href="http://bctann.egem.io/" target="_blank"><i class="fab fa-bitcoin"></i> BCT ANN</a> 
	<a href="http://discord.egem.io/" target="_blank"><i class="fab fa-discord"></i> DISCORD</a>
	<a href="https://t.me/EGEM_Team" target="_blank"><i class="fab fa-telegram"></i> TELEGRAM</a>
 	<a href="https://twitter.com/ETHERGEMCOIN" target="_blank"><i class="fab fa-twitter-square"></i> TWITTER</a> 
        </p>
      </div>
    </footer>
  </body>
</html>
